process {
    // container configuration
    withLabel: pgscatalog_utils {
        ext.docker = 'ghcr.io/pgscatalog/pygscatalog'
        ext.singularity = 'oras://ghcr.io/pgscatalog/pygscatalog'
        ext.docker_version = ':pgscatalog-utils-1.4.4'
        ext.singularity_version = ':pgscatalog-utils-1.4.4-singularity'
    }
}