process {
    // container configuration
    withLabel: pgscatalog_utils {
        ext.docker = 'ghcr.io/pgscatalog/pygscatalog'
        ext.singularity = 'oras://ghcr.io/pgscatalog/pygscatalog'
        ext.docker_version = ':pgscatalog-utils-1.4.4'
        ext.singularity_version = ':pgscatalog-utils-1.4.4-singularity'
    }

    withLabel: gatk {
        ext.docker = 'broadinstitute/gatk'
        ext.singularity = 'docker://broadinstitute/gatk'
        ext.docker_version = ':4.2.0.0'
        ext.singularity_version = ':4.2.0.0'
    }

    withLabel: samtools {
        ext.docker = 'quay.io/biocontainers/samtools'
        ext.singularity = 'docker://quay.io/biocontainers/samtools'
        ext.docker_version = ':1.10--h9402c20_2'
        ext.singularity_version = ':1.10--h9402c20_2'
    }

    withLabel: pgsc_calc {
        ext.docker = 'pgscatalog/pgsc_calc'
        ext.singularity = 'docker://pgscatalog/pgsc_calc'
        ext.docker_version = ':v2-blob'
        ext.singularity_version = ':v2-blob'
    }

    withLabel: plink2{
        ext.docker = 'pgscatalog/plink2'
        ext.singularity = 'docker://pgscatalog/plink2'
        ext.docker_version = ':2.00a5.10'
        ext.singularity_version = ':2.00a5.10'
    }

    withLabel: bcftools {
        ext.docker = 'staphb/bcftools'
        ext.singularity = 'docker://staphb/bcftools'
        ext.docker_version = ':1.21'
        ext.singularity_version = ':1.21'
    }
}